<div class="dish-popup-wrapper">
    <div class="overflow-wrap">
    <div class="dish-popup" id="{{id}}">
        <div class="dish-popup__main-info">
            <div class="dish-popup__close-button-wrapper">
                <div class="button button_color_white dish-popup__close-button">
                    <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.46458 15.5354L15.5356 8.46436" stroke="black" stroke-width="3" stroke-linecap="round"/>
                        <path d="M8.46458 8.46458L15.5356 15.5356" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
            <div class="dish-popup__image-wrapper">
                <img class="dish-popup__image" src="{{img}}">
            </div>

            <div class="dish-popup__dish-title">
                {{ name }}
            </div>
        </div>
        <div class="dish-popup__dish-setting">
            <div class="dish-popup__description">
                {{ desc }}
<!--                Неподражаемые Чикен Макнаггетс – это сочное 100% белое куриное мясо в хрустящей панировке со специями. Только натуральная курочка без искусственных красителей и ароматизаторов и без консервантов-->
            </div>
            {{#each radios }}
                <div class="dish-popup__checkboxes-wrapper-title">
                    {{ name }}*
                </div>
                <div id="{{rId}}" class="dish-popup__checkboxes-wrapper radio-wrapper">
                    {{#each opt}}
                        <div class="dish-popup__radio-row">
                            <label class="container">
                                <input id="{{id}}" type="radio" name="{{../name}}">
                                <span class="checkmark checkmark-radius"></span>
                            </label>
                            <div class="dish-popup__checkbox-title">
                                {{ name }}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}


                <div class="dish-popup__checkboxes-wrapper-title">
                    Хотите добавить ингридиенты?
                </div>
                <div class="dish-popup__checkboxes-wrapper">
                    {{#each ingredients}}
                        <div id="{{id}}" class="dish-popup__checkbox-row">
                            <label class="container">
                                <input class="dish-popup__checkbox-input" type="checkbox">
                                <span class="checkmark "></span>
                            </label>
                            <div class="dish-popup__checkbox-title">
                                {{ name }}
                            </div>
                            <div class="dish-popup__add-item-cost">
                                +
                                <div class="dish-popup__checkbox-cost">
                                    {{ cost }}
                                </div>
                                 ₽
                            </div>
                        </div>
                    {{/each}}
                </div>
            <div class="cart__required">* - обязательные</div>
        </div>
        <div class="dish-popup__selector-buy-button-box">
            <div class="dish-popup__num-selector-box">
                <div class="button minus dish-popup__selector-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="dish-popup__number">1</div>
                <div class="button plus dish-popup__selector-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17V7" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M7 12L17 12" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
            <div class="button button_color_black button_shape_rounded dish-popup__buy-button">
                Добавить в корзину
                <div class="dish-popup__cost">
                    <div class="dish-popup__summary-cost">
                        {{ cost }}
                    </div>
                     ₽
                </div>
            </div>
        </div>
    </div>
    </div>
</div>