<div href="dish/{{id}}" class="dish">
    <div class="dish__text">
        <div class="dish__title">
            {{dishTitle}}
        </div>

        <div class="dish__info">
            {{dishCost}}  • {{dishCcal}}
        </div>
    </div>
    <img class="dish__image" src="{{dishImg}}">
</div>