<div class="profile-page__wrapper">
    <div class="profile-page__input-box">
        <div class="profile-row">
            <div class="profile-page__avatar-box">
                <img class="profile-avatar" src="{{user.avatar}}" alt="profile image">
            </div>
            <div class="profile-row__name">
                {{user.name}}
            </div>
        </div>
        <div class="profile-avatar-save-row">
            <label class="profile-page__input-label" for="localdate">
                Изменить аватар:
                <input type="file" id="localdate" name="date"/>
            </label>
        </div>
        <div class="profile-row">
            <button class="button button_height_b button_color_black profile-page__button">
                Сохранить аватарку
            </button>
        </div>

        <div class="profile-row">
            <label class="profile-page__input-label">
                Имя
                <input value="{{user.name}}" required class="input profile-page__input">
            </label>
            <label class="profile-page__input-label profile-row__input-label-lm">
                Номер телефона
                <input value="{{user.phone}}" required class="input profile-page__input">
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Электронная почта
                <input value="{{user.email}}" required class="input profile-page__input">
            </label>
            <label class="profile-page__input-label profile-row__input-label-lm" for="localdate">
                Дата рождения:
                <div class="profile-page__input-date-wrapper">
                    <input id="localdate" placeholder="DD" maxlength="2" min="0" size="2" max="31" type="tel" required class="input profile-page__input input__days" name="date"/>
                    <input id="localdate" placeholder="MM" maxlength="2" min="0" max="12" type="tel" required class="input profile-page__input profile-page__input-ml input__months" name="date"/>
                    <input id="localdate" placeholder="YYYY" maxlength="4" min="1900" max="2021" type="tel" required class="input profile-page__input profile-page__input-ml" name="date"/>
                </div>
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Изменение пароля. Введите новый пароль
                <input value="" type="password" required class="input profile-page__input">
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Повторите пароль
                <input value="" type="password" required class="input profile-page__input">
            </label>
        </div>

        <button class="button button_height_b button_color_black profile-page__button">
            Сохранить изменения
        </button>
    </div>
</div>
