<div class="profile-page__wrapper">
    <div class="profile-page__input-box">
        <form enctype="multipart/form-data">
        <div class="profile-row">
            <div class="profile-page__avatar-box">
<!--                <img class="profile-avatar" src="{{user.avatar}}" alt="profile image">-->
                <div class="profile-avatar" for="user-avatar">
                    <svg class="avatar-find-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3849 15.4458C11.7346 17.5685 7.8552 17.4014 5.39842 14.9446C2.76238 12.3086 2.76238 8.0347 5.39842 5.39866C8.03445 2.76262 12.3083 2.76262 14.9444 5.39866C17.4011 7.85544 17.5682 11.7349 15.4456 14.3851L20.6012 19.5408C20.8941 19.8337 20.8941 20.3085 20.6012 20.6014C20.3083 20.8943 19.8334 20.8943 19.5405 20.6014L14.3849 15.4458ZM6.45908 13.8839C4.40882 11.8337 4.40882 8.50957 6.45908 6.45932C8.50933 4.40907 11.8334 4.40907 13.8837 6.45932C15.9324 8.50807 15.9339 11.8288 13.8882 13.8794C13.8867 13.8809 13.8852 13.8824 13.8837 13.8839C13.8822 13.8854 13.8807 13.8869 13.8792 13.8884C11.8286 15.9342 8.50783 15.9327 6.45908 13.8839Z" fill="black"/>
                    </svg>
                    <input class="avatar-input" type="file" accept="image/x-png,image/gif,image/jpeg" id="avatar" name="user-avatar"/>
                </div>
<!--                <div class="profile-avatar"></div>-->
            </div>
            <div class="profile-row__name">
                {{user.name}}
            </div>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Имя
                <input value="{{user.name}}" autocomplete="off" id="name" required class="input profile-page__input">
                <div id="name_error" class="error-label"></div>
            </label>
            <label class="profile-page__input-label profile-row__input-label-lm">
                Номер телефона
                <input value="{{user.phone}}"  autocomplete="off"  id="phone" required class="input profile-page__input">
                <div id="phone_error" class="error-label"></div>
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Электронная почта
                <input value="{{user.email}}" autocomplete="off" id="email" required class="input profile-page__input">
                <div id="email_error" class="error-label"></div>
            </label>
            <label class="profile-page__input-label profile-row__input-label-lm" for="localdate">
                Дата рождения:
                <div class="profile-page__input-date-wrapper">
                    <input id="localdate" placeholder="DD" maxlength="2" min="0" size="2" max="31" type="tel" required class="input profile-page__input input__days" name="date"/>
                    <input id="localdate" placeholder="MM" maxlength="2" min="0" max="12" type="tel" required class="input profile-page__input profile-page__input-ml input__months" name="date"/>
                    <input id="localdate" placeholder="YYYY" maxlength="4" min="1900" max="2021" type="tel" required class="input profile-page__input profile-page__input-ml" name="date"/>
                </div>
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Изменение пароля. Введите новый пароль
                <input value="" autocomplete="new-password"  type="password" id="password" required class="input profile-page__input">
                <div id="password_error" class="error-label"></div>
            </label>
        </div>
        <div class="profile-row">
            <label class="profile-page__input-label">
                Повторите пароль
                <input value="" autocomplete="off" type="password" id="repeat_password" required class="input profile-page__input">
                <div id="password_repeat_error" class="error-label"></div>
            </label>
        </div>


            <div class="info-label profile-info-label">
            </div>
        <button id="save-button" class="button button_height_b button_color_black profile-page__button">
            Сохранить изменения
        </button>
        </form>
    </div>
</div>
