<div class="restaurant-page__menu-cart-wrapper">
    <div class="restaurant-page__menu">
        <div class="restaurant-underheader">
            <div class="restaurant-underheader__tags">
                {{#each tags}}
                    <div class="restaurant-underheader__tag">
                        {{ name }}
                    </div>
                {{/each}}
            </div>
            <div class="restaurant-underheader__address">
                {{ addrs }}
            </div>
        </div>
        <div class="restaurant-nav">
            <hr class="restaurant-nav__line">
            <div class="restaurant-nav__list">
                {{#each menu}}
                    <a href="#{{name}}" class="restaurant-underheader__a">
                        <div class="restaurant-nav__btn">
                            {{name}}
                        </div>
                    </a>
                {{/each}}
            </div>

        </div>

        <div class="restaurant-page__dishes">
            {{#each menu}}
                <div id="{{name}}" class="restaurant-page__menu-title">
                    {{name}}
                </div>
                {{#each dishes}}
                    <div class="restaurant-page__dish restaurant-page__dish-media">
                        {{>dish this }}
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>
    <div class="restaurant-page__cart">
<!--   space for cart     -->
    </div>
</div>
