
<div class="restaurant-page__menu-cart-wrapper">
    <div class="restaurant-page__menu">
        <div class="restaurant-underheader">
            <div class="restaurant-underheader__tags">
                {{#each tags}}
                    <div class="restaurant-underheader__tag">
                        {{ tagName }}
                    </div>
                {{/each}}
            </div>
            <div class="restaurant-underheader__address">
                {{ address }}
            </div>
        </div>
        <div class="restaurant-nav">
            <hr class="restaurant-nav__line">
            <div class="restaurant-nav__list">
                {{#each menuNavs}}
                    <a href="#{{menuId}}" class="restaurant-underheader__a">
                        <div class="restaurant-nav__btn">
                            {{menuTitle}}
                        </div>
                    </a>
                {{/each}}
            </div>

        </div>

        <div class="restaurant-page__dishes">
            {{#each menuNavs}}
                <div id="{{menuId}}" class="restaurant-page__menu-title">
                    {{menuTitle}}
                </div>
                {{#each dishes}}
                    <div class="restaurant-page__dish">
                        {{>dish this }}
                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>
    <div class="restaurant-page__cart">
<!--   space for cart     -->
    </div>
</div>
