<div class="order-process-wrapper">
    <div class="order-process">
        <div class="order-process__title">
            <div class="order-process__order-number">Заказ №12345</div>
            <div class="order-process__time">27.10.2021, 20:00</div>
        </div>

        <div class="order-process__progress-wrapper">
            <div class="order-process__progress-block">
            <svg class="order-process__done" width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6501 4.2629L16.4635 4.3642C18.3408 4.59801 19.75 6.19359 19.75 8.08545V18.5749C19.75 20.4118 18.3817 21.961 16.5589 22.188C13.5313 22.5651 10.4687 22.5651 7.44107 22.188C5.61826 21.961 4.25 20.4118 4.25 18.5749V8.08545C4.25 6.19359 5.6592 4.59801 7.53655 4.3642L8.3499 4.2629C8.67208 3.10206 9.73654 2.25 11 2.25H13C14.2635 2.25 15.3279 3.10206 15.6501 4.2629ZM8.25 5.78693L7.72193 5.8527C6.59552 5.99299 5.75 6.95034 5.75 8.08545V18.5749C5.75 19.655 6.55458 20.566 7.62645 20.6995C10.5309 21.0612 13.4691 21.0612 16.3735 20.6995C17.4454 20.566 18.25 19.655 18.25 18.5749V8.08545C18.25 6.95034 17.4045 5.99299 16.2781 5.8527L15.75 5.78693V7C15.75 7.41421 15.4142 7.75 15 7.75H9C8.58579 7.75 8.25 7.41421 8.25 7V5.78693ZM9.75 5C9.75 4.30964 10.3096 3.75 11 3.75H13C13.6904 3.75 14.25 4.30964 14.25 5V6.25H9.75V5Z" fill="black"/>
                <path d="M15.75 11.75C15.75 11.3358 15.4142 11 15 11H9C8.58579 11 8.25 11.3358 8.25 11.75C8.25 12.1642 8.58579 12.5 9 12.5H15C15.4142 12.5 15.75 12.1642 15.75 11.75Z" fill="black"/>
                <path d="M14.75 14.75C14.75 14.3358 14.4142 14 14 14H9C8.58579 14 8.25 14.3358 8.25 14.75C8.25 15.1642 8.58579 15.5 9 15.5H14C14.4142 15.5 14.75 15.1642 14.75 14.75Z" fill="black"/>
            </svg>
                <div class="order-process__progress-block-text">
                    Заказ обработан!
                </div>
            </div>

            <svg class="order-process__wait" width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.5C5.17157 10.5 4.5 11.1716 4.5 12C4.5 12.8284 5.17157 13.5 6 13.5C6.82843 13.5 7.5 12.8284 7.5 12C7.5 11.1716 6.82843 10.5 6 10.5Z" fill="black"/>
                <path d="M10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12Z" fill="black"/>
                <path d="M16.5 12C16.5 11.1716 17.1716 10.5 18 10.5C18.8284 10.5 19.5 11.1716 19.5 12C19.5 12.8284 18.8284 13.5 18 13.5C17.1716 13.5 16.5 12.8284 16.5 12Z" fill="black"/>
            </svg>

            <div class="order-process__progress-block">
            <svg class="order-process__do"  width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5067 1.50804C10.6884 1.29895 10.9706 1.20705 11.2406 1.26904C14.8494 2.09755 16.6735 6.05217 16.2445 9.5903C16.0778 10.9657 15.6658 12.0439 15.0592 12.9018C15.0555 12.9071 15.0517 12.9123 15.048 12.9175C15.1858 12.8498 15.3129 12.7767 15.4319 12.6995C16.0238 12.3153 16.4583 11.8083 17.0239 11.1481C17.0923 11.0683 17.1626 10.9863 17.2353 10.902C17.3987 10.7125 17.6459 10.6169 17.8942 10.6473C18.1426 10.6776 18.3595 10.8299 18.4725 11.0531C18.97 12.0363 19.25 13.1479 19.25 14.3226C19.25 18.3267 16.0041 21.5726 12 21.5726C7.99594 21.5726 4.75 18.3267 4.75 14.3226C4.75 11.7856 6.05371 9.5535 8.02431 8.25906L8.09187 8.19098C8.12658 8.15601 8.16464 8.12454 8.20552 8.09703C9.07138 7.5144 9.69312 7.03786 10.1117 6.47743C10.5071 5.94801 10.75 5.3022 10.75 4.32264C10.75 3.59736 10.6161 2.90512 10.3723 2.26809C10.2733 2.00936 10.3249 1.71713 10.5067 1.50804ZM12.1712 3.25081C12.2231 3.60079 12.25 3.95872 12.25 4.32264C12.25 5.59106 11.9223 6.55995 11.3135 7.37505C10.7417 8.14054 9.95028 8.72847 9.10466 9.2999L9.03236 9.37275C8.99362 9.41179 8.95071 9.44644 8.90439 9.4761C7.30648 10.4991 6.25 12.2877 6.25 14.3226C6.25 17.4983 8.82436 20.0726 12 20.0726C15.1756 20.0726 17.75 17.4983 17.75 14.3226C17.75 13.8028 17.6812 13.2997 17.5523 12.8217C17.1721 13.2334 16.7524 13.6307 16.2485 13.9577C15.3253 14.5569 14.1699 14.899 12.5 14.899C12.1577 14.899 11.8589 14.6673 11.7736 14.3358C11.6884 14.0044 11.8383 13.6572 12.1381 13.4921C12.8169 13.1181 13.3923 12.661 13.8345 12.0357C14.2757 11.4118 14.6137 10.5787 14.7555 9.40975C15.0623 6.879 14.0149 4.38107 12.1712 3.25081Z" fill="black"/>
            </svg>
                <div class="order-process__progress-block-text">
                    Заказ готовится!
                </div>
            </div>

            <svg class="order-process__wait"  width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.5C5.17157 10.5 4.5 11.1716 4.5 12C4.5 12.8284 5.17157 13.5 6 13.5C6.82843 13.5 7.5 12.8284 7.5 12C7.5 11.1716 6.82843 10.5 6 10.5Z" fill="black"/>
                <path d="M10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12Z" fill="black"/>
                <path d="M16.5 12C16.5 11.1716 17.1716 10.5 18 10.5C18.8284 10.5 19.5 11.1716 19.5 12C19.5 12.8284 18.8284 13.5 18 13.5C17.1716 13.5 16.5 12.8284 16.5 12Z" fill="black"/>
            </svg>

            <div class="order-process__progress-block">
            <svg class="order-process__wait"  width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.25474 3.72392C5.15551 2.53249 6.4904 1.87375 7.40671 2.48588L7.70312 2.68389C12.2227 5.70313 16.4526 9.11045 20.3414 12.8647C21.3101 13.7999 20.4558 15.2759 19.247 15.1464L13.9807 14.5824C13.4445 14.525 12.9504 14.8132 12.7469 15.2623L10.6182 19.9593C10.1041 21.0937 8.41076 20.9882 8.07382 19.7643C6.65905 14.6252 5.72522 9.37299 5.28368 4.07142L5.25474 3.72392ZM6.77173 3.86561L6.77851 3.94692C7.20129 9.02331 8.08349 14.0539 9.41488 18.9807L11.3806 14.6431C11.8611 13.583 12.9845 12.9672 14.1404 13.091L18.9474 13.6058C15.2205 10.0473 11.1794 6.81008 6.86989 3.93117L6.77173 3.86561Z" fill="black"/>
            </svg>
                <div class="order-process__progress-block-text">
                    Ваша еда уже едет к вам!
                </div>
            </div>

            <svg class="order-process__wait"  width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10.5C5.17157 10.5 4.5 11.1716 4.5 12C4.5 12.8284 5.17157 13.5 6 13.5C6.82843 13.5 7.5 12.8284 7.5 12C7.5 11.1716 6.82843 10.5 6 10.5Z" fill="black"/>
                <path d="M10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12Z" fill="black"/>
                <path d="M16.5 12C16.5 11.1716 17.1716 10.5 18 10.5C18.8284 10.5 19.5 11.1716 19.5 12C19.5 12.8284 18.8284 13.5 18 13.5C17.1716 13.5 16.5 12.8284 16.5 12Z" fill="black"/>
            </svg>

            <div class="order-process__progress-block">
            <svg class="order-process__wait"  width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0303 7.96967C18.3232 8.26256 18.3232 8.73744 18.0303 9.03033L11.0303 16.0303C10.7374 16.3232 10.2626 16.3232 9.96967 16.0303L5.96967 12.0303C5.67678 11.7374 5.67678 11.2626 5.96967 10.9697C6.26256 10.6768 6.73744 10.6768 7.03033 10.9697L10.5 14.4393L16.9697 7.96967C17.2626 7.67678 17.7374 7.67678 18.0303 7.96967Z" fill="black"/>
            </svg>
                <div class="order-process__progress-block-text">
                    Заказ успешно доставлен!
                </div>
            </div>

        </div>

        <div class="order-process__time-prediction">Прогноз доставки: {{dTime}} мин</div>
    </div>
</div>

<div class="order cart-order">
    <div class="order__main-info">
        <div class="order__main-info-text">
            <div class="order__restaurant-title order__row-margin">
                {{restaurant.name}}
            </div>
            <div class="order__address order__row-margin">
                {{restaurant.addrs}}
            </div>
        </div>
        <div class="order__image-wrapper">
            <img class="order__main-info-img" src="{{restaurant.img}}" alt="rest image">
        </div>
    </div>
    <div class="order__info">
        {{#each items}}
            <div class="order__item">
                <div class="order__item-wrapper">
                    <div class="order__item-title">
                        {{ name }}
                    </div>
                    {{#each radios}}
                        <div>
                            • {{ name }}
                        </div>

                    {{/each}}
                    {{#each ingredients}}
                        <div>
                            + {{ name }}
                        </div>
                    {{/each}}
                </div>


                <div class="order__item-num">
                    {{ count }} шт
                </div>

                <div class="order__item-cost">
                    {{ cost }} ₽
                </div>
            </div>
        {{/each}}
        <div class="order__item">
            <div class="order__delivery-title">
                Доставка
            </div>

            <div class="order__delivery-cost">
                {{ dCost }} ₽
            </div>
        </div>
        <div class="order__summary">
            <div class="order__summary-title">
                Итого
            </div>

            <div class="order__summary-cost">
                {{ sumCost }} ₽
            </div>
        </div>
    </div>
</div>