<div class="cart-order-delivery">
    <div class="cart-order-delivery__wrapper">
        <div class="cart-order-delivery__title">Условия доставки</div>
        <div class="cart-order-delivery__input-row">
            <input placeholder="Введите адрес" required class="input cart-order-delivery__input profile-page__input">
        </div>
        <div class="cart-order-delivery__input-row">
            <input placeholder="Подъезд" required class="input cart-order-delivery__input cart-order-delivery__input-mw profile-page__input">
            <input placeholder="Домофон" required class="input cart-order-delivery__input cart-order-delivery__input-mw cart-order-delivery__input_margin-left profile-page__input">
            <input placeholder="Этаж" required class="input cart-order-delivery__input cart-order-delivery__input-mw cart-order-delivery__input_margin-left profile-page__input">
            <input placeholder="Квартира" required class="input cart-order-delivery__input cart-order-delivery__input-mw cart-order-delivery__input_margin-left profile-page__input">
        </div>
        <div class="cart-order-delivery__undertitle">
            Комментарий
        </div>
        <div class="cart-order-delivery__input-row">
            <input placeholder="Напишите, как вас найти или пожелания к заказу..." required class="input cart-order-delivery__input cart-order-delivery__input_sq cart-order-delivery__input_margin-left profile-page__input">
        </div>
        <div class="cart-order-delivery__time-title">
            Время доставки составит ~ {{restaurant.minDTime}}-{{restaurant.maxDTime}} мин
        </div>
    </div>
</div>

<div class="history-order cart-order">
    <div class="history-order__main-info">
        <div class="history-order__main-info-text">
            <div class="history-order__restaurant-title history-order__row-margin">
                {{restaurant.name}}
            </div>
            <div class="history-order__address history-order__row-margin">
                {{restaurant.addrs}}
            </div>
        </div>
        <div class="history-order__image-wrapper">
            <img class="history-order__main-info-img" src="http://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/96672465571661.5afc10a864fc2.jpg" alt="rest image">
        </div>
    </div>
    <div class="history-order__info">
        {{#each items}}
            <div class="history-order__item">
                <div class="order__item-wrapper">
                    <div class="order__item-title">
                        {{ name }}
                    </div>
                    {{#each radios}}
                        <div>
                            • {{ name }}
                        </div>

                    {{/each}}
                    {{#each checkboxes}}
                        <div>
                            + {{ name }}
                        </div>
                    {{/each}}
                </div>


                <div class="history-order__item-num">
                    {{ num }} шт
                </div>

                <div class="history-order__item-cost">
                    {{ cost }} ₽
                </div>
            </div>
        {{/each}}
        <div class="history-order__item">
            <div class="history-order__delivery-title">
                Доставка
            </div>

            <div class="history-order__delivery-cost">
                {{restaurant.dCost}} ₽
            </div>
        </div>
        <div class="history-order__summary">
            <div class="order__summary-title">
                Итого
            </div>

            <div class="history-order__summary-cost">
                {{ sumCost }} ₽
            </div>
        </div>
    </div>
</div>