<div href="dish/{{id}}" id="{{id}}" class="dish">
    <div class="dish__text">
        <div class="dish__title">
            {{name}}
        </div>

        <div class="dish__info">
            {{cost}} ₽ • {{ccal}} ккал
        </div>
    </div>
    <div class="dish__image-box">
        <img class="dish__image" src="{{img}}">
    </div>
</div>